@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
    height: 100%;
}

body{
    background-color: #dde1e9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: white;
}

/* ENCABEZADO */
.contenedor-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #1f283e;
    background-color: rgba(0,0,0,.7);
    z-index: 99;
    padding: 0 20px;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: #fff;
}

.txtRojo{
    color:#ff1133;
}

.contenedor-header header nav a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    text-transform: uppercase;
}

.contenedor-header header nav a:hover{
    color: #ff1133;
}

.nav-responsive{
    display: none;
    font-size: 25px;
}

/* FORMULARIO */
form {
    background-color: #f5f5f5;
    padding: 50px;
    width: 420px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    margin: 150px auto; /* Ajustar margen para separarlo del encabezado */
}

form h2 {
    font-size: 25px;
    color: #1e1e1e;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.input-container {
    position: relative;
}

.input-container>i {
    padding: 14px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgb(24, 36, 67) 0%, rgba(5, 21, 78, 0.5));
    color: #fcfef7;
    position: absolute;
    font-size: 20px;
    top: 4px;
    left: 10px;
}

.input-container>input {
    padding: 17px 15px 17px 65px;
    width: 100%;
    margin-bottom: 25px;
    border-radius: 35px;
    background-color: transparent;
    border: 2px solid #cbcbcb;
    font-size: 16px;
    outline: none;
    color: #1e1e1e;
}

::placeholder {
    color: #a0a0a0;
    font-size: 16px;
}

form a {
    display: block;
    color: #a0a0a0;
    font-size: 15px;
    text-decoration: none;
    margin-bottom: 25px;
}

.btn {
    background: linear-gradient(90deg, rgb(24, 36, 67) 0%, rgba(5, 21, 78, 0.5));
    padding: 15px 80px;
    border: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    border-radius: 25px;
    color: #fcfef7;
    font-size: 15px;
    cursor: pointer;
}

.success{
    position: absolute;
    top: 50px;
    color: #00a735;
    font-size: 18px;
}

.error{
    position: absolute;
    top: 50px;
    color: #e02d00;
    font-size: 18px;
}

@media(max-width:991px){
    body{
        padding: 30px;
    }

    form{
        width: 340px;
    }
}

/* FOOTER */
footer{
    background-color: #151623;
    padding: 30px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: auto;
}

footer .info{
    display: flex;
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
    padding: 0 20px;
}

footer .info p{
    color: #797e8e;
}

footer .info a{
    text-decoration: none;
    color: #797e8e;
    display: inline-block;
    margin: 0 15px;
}

@media only screen and (max-width: 900px) {
    .contenedor-header {
        padding: 0 10px;
    }

    .contenedor-header header {
        flex-direction: column;
        padding: 10px 0;
    }

    .contenedor-header header nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #151623;
        z-index: 99;
    }

    nav.responsive a {
        display: block;
        width: fit-content;
        margin: 10px auto;
        font-size: 30px;
    }

    form {
        width: 100%;
        padding: 20px;
        margin: 100px 10px;
        box-shadow: none;
    }

    .input-container > i {
        top: 10px;
    }

    .input-container > input {
        padding: 10px 10px 10px 50px;
        margin-bottom: 20px;
    }

    .btn {
        padding: 10px 40px;
        font-size: 14px;
    }

    footer .info {
        display: block;
        text-align: center;
        padding: 0 10px;
    }

    footer .info p, footer .info a {
        margin-bottom: 10px;
    }
}
